h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

:root {
	--light-color: #F5F5F7;
	--dark-color: #221F20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;
	@media screen and (max-width: 768px) {
		--container-padding-inline: 6%;
		--footer-padding-inline: 6%;
	}

	@media screen and (max-width: 576px) {
		--container-padding-inline: 15px;
		--footer-padding-inline: 15px;
	}
}


html {
	font-family: "Inter", sans-serif;
}

.promo::selection {
	background-color: #fff;
	color: #000;
}

.about::selection, .works::selection, .inspiration::selection {
	background-color: #000;
	color: #fff;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.title {
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);
	text-align: center;
	span {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			display: block;
			right: 0;
			bottom: 1px;
			width: 75px;
			height: 2px;
			background-color: #000;
		}
	}
	@media screen and (max-width: 768px) {
		font-size: 36px;
	}
	@media screen and (max-width: 576px) {
		font-size: 24px;
	}
}

.promo {
	position: relative;
	min-height: 100vh;
	padding-top: 75px;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	@media screen and (max-width: 768px) {
		background-image: url('../img/tablet_bg.jpg');
	}

	@media screen and (max-width: 576px) {
		min-height: 500px;
		padding-top: 50px;
	}
}

.promo__title {
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--light-color);
	@media screen and (max-width: 768px) {
		font-size: 48px;		
	}

	@media screen and (max-width: 576px) {
		font-size: 26px;
	}
}

.promo__subtitle {
	margin-top: 124px;
	font-weight: 100;
	font-size: 32px;
	color: var(--light-color);
	@media screen and (max-width: 768px) {
		margin-top: 80px;
	}

	@media screen and (max-width: 576px) {
		margin-top: 30px;
		font-size: 16px;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 3px 10px;
	width: 160px;
	min-height: 38px;
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	text-decoration: none;
	cursor: pointer;
	border: 1px solid var(--light-color);
	transition: all 0.3s ease-out;
	@media screen and (max-width: 576px) {
		width: 120px;
		min-height: 30px;
		font-size: 14px;
	}
}

.btn:hover {
	box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
	font-weight: 500;
}

.promo__address {
	position: relative;
	margin-top: 100px;
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	address {
		font-style: normal;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 40px;
		height: 49px;
		left: -45px;
		top: -17px;
		background: url('../icons/arrow.svg') center center/cover no-repeat;
	}

	@media screen and (max-width: 768px) {
		margin-top: 80px;
		&::before {
			left: -40px;
		}
	}

	@media screen and (max-width: 600px) {
		&::before {
			display: none;
		}
	}

	@media screen and (max-width: 576px) {
		margin-top: 233px;
	}
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 360px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);
	li {
		list-style-type: none;
		font-weight: 100;
		font-size: 10px;
		color: var(--light-color);
		@media screen and (max-width: 768px) {
			&:nth-last-child(-n+6) {
				display: none;
			}
		}

		@media screen and (max-width: 576px) {
			&:nth-last-child(-n+11) {
				display: none;
			}	
		}
	}
	@media screen and (max-width: 1440px) {
		padding: 0 20px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 10px;
	}
	
}

.about {
	background-color: var(--light-color);
	padding-top: 80px;
	@media screen and (max-width: 576px) {
		padding-top: 50px;	
	}
}

.about__title {
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	color: var(--dark-color);
}

.about__text {
	margin-top: 20px;
	width: 1100px;
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);
	span {
		color: #a5a5a5;
	}
	@media screen and (max-width: 1440px) {
		width: 100%;		
	}

	@media screen and (max-width: 768px) {
		font-size: 24px;		
	}

	@media screen and (max-width: 576px) {
		font-size: 16px;		
	}
}

.services {
	display: flex;
	column-gap: 10px;
	margin-top: 80px;
	@media screen and (max-width: 768px) {
		margin-top: 40px;
		flex-direction: column;
		row-gap: 40px;
	}

	@media screen and (max-width: 576px) {
		margin-top: 20px;
		row-gap: 20px;
	}
}

.services__items {
	width: 50%;
	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		position: relative;
		list-style-type: none;
		margin-top: 10px;
		font-weight: 400;
		font-size: 16px;
		color: var(--dark-color);
		&:first-child::before {
			content: '';
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			left: -30px;
			top: 2px;
			background: url('../icons/camera.svg') center center / cover no-repeat;
		}
		&:nth-child(3)::before {
			content: '';
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			left: -30px;
			top: 2px;
			background: url('../icons/edit.svg') center center / cover no-repeat;
		}
	}
	@media screen and (max-width: 768px) {
		width: 100%	
	}

	@media screen and (max-width: 576px) {
		& li {
			font-size: 14px;
			margin-top: 5px;
		}	
	}
}

.services__item-subtitle {
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: var(--dark-color);
	@media screen and (max-width: 576px) {
		font-size: 12px;		
	}
}

.services__text {
	width: 50%;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: var(--dark-color);
	@media screen and (max-width: 768px) {
		width: 100%;	
	}
	@media screen and (max-width: 576px) {
		font-size: 12px;		
	}
}

.works {
	background-color: var(--light-color);
	padding-top: 80px;
	@media screen and (max-width: 768px) {
		padding-top: 50px;
	}	
}

.works__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 1.5fr;
	column-gap: 30px;
	row-gap: 50px;
	margin-top: 53px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
	@media screen and (max-width: 768px) {
		margin-top: 43px;
		column-gap: 20px;
		row-gap: 30px;	
	}
	@media screen and (max-width: 576px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr) 1.5fr;
		column-gap: 0px;
		row-gap: 30px;
	}
}

.inspiration {
	background-color: var(--light-color);
	padding-top: 80px;
	@media screen and (max-width: 768px) {
		padding-top: 50px;
	}
}

.inspiration__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
	margin-top: 53px;
	img {
		width: 100%;
		height: 100%;
		/* object-fit: cover; */
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
	@media screen and (max-width: 768px) {
		margin-top: 43px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		column-gap: 20px;
		row-gap: 30px;	
	}
	@media screen and (max-width: 576px) {
		padding-left: 9px;
		padding-right: 9px;
		margin-top: 43px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr) 0.5fr;
		column-gap: 30px;
		row-gap: 20px;	
	}
}

#tenement {
	grid-column: 4/5;
	grid-row: 1/3;
	@media screen and (max-width: 768px) {
		grid-column: 2/3;
		grid-row: 2/4;	
	}
	@media screen and (max-width: 576px) {
		grid-column: 1/2;
		grid-row: 4/6;	
	}
}

#sky {
	grid-column: 2/4;
	@media screen and (max-width: 768px) {
		grid-column: 1/3;	
	}@media screen and (max-width: 576px) {
		grid-column: 1/2;	
	}
}

.customers {
	background-color: var(--light-color);
	padding: 80px 0 92px 0;
	@media screen and (max-width: 768px) {
		padding: 50px 0 50px 0;
	}
}

.customers__wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 53px;
	@media screen and (max-width: 768px) {
		margin-top: 43px;
		gap: 20px;	
	}
	@media screen and (max-width: 576px) {
		margin-top: 33px;
		column-gap: 36px;
	}
}

.customers__img {
	display: block;
	width: calc((100% - 90px) / 4);
	box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
	@media screen and (max-width: 576px) {
		width: calc((100% - 36px) / 2);

	}
}

.footer {
	background-color: #000;
	padding: 88px var(--footer-padding-inline);
	@media screen and (max-width: 876px) {
		padding-top: 30px;
		padding-bottom: 40px;	
	}
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 20px;
	color: var(--light-color);
	@media screen and (max-width: 876px) {
		flex-direction: column;
		align-items: start;
		row-gap: 30px;
		font-size: 16px;
	}
	@media screen and (max-width: 576px) {
		align-items: center;	
	}
	
}

.footer__links {
	display: flex;
	column-gap: 30px;
	@media screen and (max-width: 876px) {
		column-gap: 27px;
	}
}

.footer__link {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--light-color);
	width: 32px;
	height: 32px;
	background: rgba(217, 217, 217, 0);
	color: #fff;
	/* span {
		width: 22px;
		height: 22px;
	} */
}

.footer__address {
	address {
		font-style: normal;
	}
	@media screen and (max-width: 576px) {
		order: 3;
	}
}

.footer__phone {
		text-decoration: none;
		color: var(--light-color);
	@media screen and (max-width: 576px) {
		order: 2;
	}
}