h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

:root {
	--light-color: #F5F5F7;
	--dark-color: #221F20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;
}


html {
	font-family: "Inter", sans-serif;
}

.promo::selection {
	background-color: #fff;
	color: #000;
}

.about::selection, .works::selection, .inspiration::selection {
	background-color: #000;
	color: #fff;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.title {
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);
	text-align: center;
	span {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			display: block;
			right: 0;
			bottom: 1px;
			width: 75px;
			height: 2px;
			background-color: #000;
		}
	}
}

.promo {
	position: relative;
	min-height: 100vh;
	padding-top: 75px;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
}

.promo__title {
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--light-color);
}

.promo__subtitle {
	margin-top: 124px;
	font-weight: 100;
	font-size: 32px;
	color: var(--light-color);
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 3px 10px;
	width: 160px;
	min-height: 38px;
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	text-decoration: none;
	cursor: pointer;
	border: 1px solid var(--light-color);
	transition: all 0.3s ease-out;
}

.btn:hover {
	box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
	font-weight: 500;
}

.promo__address {
	position: relative;
	margin-top: 100px;
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	address {
		font-style: normal;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 40px;
		height: 49px;
		left: -45px;
		top: -17px;
		background: url('../icons/arrow.svg') center center/cover no-repeat;
	}
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 360px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);
	li {
		list-style-type: none;
		font-weight: 100;
		font-size: 10px;
		color: var(--light-color);
	}
}

.about {
	background-color: var(--light-color);
	padding-top: 80px;
}

.about__title {
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	color: var(--dark-color);
}

.about__text {
	margin-top: 20px;
	width: 1100px;
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);
	span {
		color: #a5a5a5;
	}
}

.services {
	display: flex;
	column-gap: 10px;
	margin-top: 80px;
}

.services__items {
	width: 50%;
	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		position: relative;
		list-style-type: none;
		margin-top: 10px;
		font-weight: 400;
		font-size: 16px;
		color: var(--dark-color);
		&:first-child::before {
			content: '';
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			left: -30px;
			top: 2px;
			background: url('../icons/camera.svg') center center / cover no-repeat;
		}
		&:nth-child(3)::before {
			content: '';
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			left: -30px;
			top: 2px;
			background: url('../icons/edit.svg') center center / cover no-repeat;
		}
	}
}

.services__item-subtitle {
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: var(--dark-color);
}

.services__text {
	width: 50%;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}

.works {
	background-color: var(--light-color);
	padding-top: 80px;
}

.works__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 1.5fr;
	column-gap: 30px;
	row-gap: 50px;
	margin-top: 53px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
}

.inspiration {
	background-color: var(--light-color);
	padding-top: 80px;
}

.inspiration__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr), 1.5fr;
	gap: 30px;
	margin-top: 53px;
	img {
		width: 100%;
		/* height: 100%; */
		/* object-fit: cover; */
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
}

#tenement {
	grid-column: 4/5;
	grid-row: 1/3;
}

#sky {
	grid-column: 2/4;

}

.customers {
	background-color: var(--light-color);
	padding: 80px 0 100px 0;
}

.customers__wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 53px;
}

.customers__img {
	display: block;
	width: calc((100% - 90px) / 4);
	box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
}

.footer {
	background-color: #000;
	padding: 84px 177px 84px 207px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 20px;
	color: var(--light-color);
}

.footer__links {
	display: flex;
	column-gap: 30px;
}

.footer__link {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--light-color);
	width: 32px;
	height: 32px;
	background: rgba(217, 217, 217, 0);
	img {
		width: 22px;
		height: 22px;
	}
}

.footer__address {
	address {
		font-style: normal;
	}
}

.footer__phone {
		text-decoration: none;
		color: var(--light-color);
}