h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

:root {
	--light-color: #F5F5F7;
	--dark-color: #221F20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;
}


html {
	font-family: "Inter", sans-serif;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.title {
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);
	text-align: center;
}

.promo {
	position: relative;
	min-height: 100vh;
	padding-top: 75px;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
}

.promo__title {
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--light-color);
}

.promo__subtitle {
	margin-top: 124px;
	font-weight: 100;
	font-size: 32px;
	color: var(--light-color);
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 3px 10px;
	width: 160px;
	min-height: 38px;
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	text-decoration: none;
	cursor: pointer;
	border: 1px solid var(--light-color);
}

.promo__address {
	margin-top: 100px;
	font-weight: 100;
	font-size: 16px;
	color: var(--light-color);
	address {
		font-style: normal;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 360px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);
	li {
		list-style-type: none;
		font-weight: 100;
		font-size: 10px;
		color: var(--light-color);
	}
}

.about {
	background-color: var(--light-color);
	padding-top: 80px;
}

.about__title {
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	color: var(--dark-color);
}

.about__text {
	margin-top: 20px;
	width: 1100px;
	font-weight: 400;
	font-size: 40px;
	color: var(--dark-color);
	span {
		color: #a5a5a5;
	}
}

.services {
	display: flex;
	column-gap: 10px;
	margin-top: 80px;
}

.services__items {
	width: 50%;
	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin-top: 10px;
		font-weight: 400;
		font-size: 16px;
		color: var(--dark-color);
	}
}

.services__item-subtitle {
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: var(--dark-color);
}

.services__text {
	width: 50%;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: var(--dark-color);
}

.works {
	background-color: var(--light-color);
	padding-top: 80px;
}

.works__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 1.5fr;
	column-gap: 30px;
	row-gap: 50px;
	margin-top: 53px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
}